<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item" href="#" [routerLink]="['/lista-pizza']">Lista de pizza</a>
    <a class="nav-item" href="#" [routerLink]="['/pizza']">Inserir nova pizza</a>
</nav>
<router-outlet></router-outlet>